<template>
  <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <div class="px-4 py-5 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Enseignements suivis
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Formation d'ingénieur
          </p>
        </div>
        <tr class="bg-gray-50">
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Enseignement
          </th>
          <th scope="col" class="px-6 py-3 text-xs text-center font-medium text-gray-500 uppercase tracking-wider">
            Semestre
          </th>
          <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
            Résultat
          </th>
          <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
            Crédits
          </th>
          <th scope="col" class="relative px-6 py-3">
            <span class="sr-only">Crédits</span>
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr v-for="person in people" :key="person.email">
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">{{ person.title }}</div>
            <div class="text-sm text-gray-500">{{ person.department }}</div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-xs text-center font-semibold text-gray-500"> {{ person.semestre}}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
            {{ person.role }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium text-yellow-500">
            {{ person.ects }} ECTS
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script setup>
const people = [
  {
    title: 'Serveurs Linux, technologie Docker, auto-hébergement',
    department: 'Stéphane Crozat',
    semestre: 'Été 2021',
    role: 'N/A',
    ects: '2'
  },
  {
    title: 'Méthodologie de conception & analyse de la valeur',
    department: 'Nicolas Salzmann',
    semestre: 'Printemps 2021',
    role: 'N/A',
    ects: '6'
  }
]
</script>