<template>
  <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   id="svg2"
   xml:space="preserve"
   width="481.90668"
   height="121.6"
   viewBox="0 0 481.90668 121.6"
   sodipodi:docname="logo_UTC_2.svg"
   inkscape:version="0.92.3 (2405546, 2018-03-11)"><metadata
     id="metadata8"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
     id="defs6" /><sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1920"
     inkscape:window-height="1053"
     id="namedview4"
     showgrid="false"
     inkscape:zoom="2.9466286"
     inkscape:cx="97.612373"
     inkscape:cy="-17.064328"
     inkscape:window-x="0"
     inkscape:window-y="27"
     inkscape:window-maximized="1"
     inkscape:current-layer="g10" /><g
     id="g10"
     inkscape:groupmode="layer"
     inkscape:label="ink_ext_XXXXXX"
     transform="matrix(1.3333333,0,0,-1.3333333,0,121.6)"><g
       id="g12"
       transform="scale(0.1)"><path
         d="m 315.832,744.941 h 17.852 v 39.153 c 0,4.926 -4,8.914 -8.926,8.914 -4.926,0 -8.926,-3.988 -8.926,-8.914 v -39.153"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path14"
         inkscape:connector-curvature="0" /><path
         d="m 278.242,744.941 h 17.856 v 39.153 c 0,4.926 -4,8.914 -8.934,8.914 -4.926,0 -8.922,-3.988 -8.922,-8.914 v -39.153"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path16"
         inkscape:connector-curvature="0" /><path
         d="m 353.426,744.941 h 17.851 v 39.153 c 0,4.926 -3.996,8.914 -8.925,8.914 -4.926,0 -8.926,-3.988 -8.926,-8.914 v -39.153"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path18"
         inkscape:connector-curvature="0" /><path
         d="m 329.223,889.086 c 11.879,-2.109 16.343,-12.551 16.343,-19.832 v -15.207 h 10.887 v -8.613 c 28.457,-13.371 48.649,-43.204 48.649,-73.782 0,-0.207 -0.008,-0.398 -0.008,-0.586 v -26.218 h 65.828 v 26.804 C 469.516,858.02 408.051,910.754 326.883,911.82 l 2.34,-22.734"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path20"
         inkscape:connector-curvature="0" /><path
         d="m 316.773,869.742 v -15.687 h 16.024 v 15.687 c 0,4.422 -3.586,8.012 -8.012,8.012 -4.426,0 -8.012,-3.59 -8.012,-8.012"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path22"
         inkscape:connector-curvature="0" /><path
         d="m 336.859,702.766 c -67.941,17.363 -93.332,32.172 -93.332,75.23 0,30.906 20.61,57.492 49.539,68.863 v 7.196 h 10.942 v 15.199 c 0,7.387 4.578,18.004 16.812,19.906 l 2.231,22.68 c -81.817,-0.629 -151.43,-57.453 -148.086,-133.844 3.726,-85.5 97.469,-109.461 147.976,-120.191 39.731,-8.438 135.348,-30.821 159.047,-98.172 0,0 8.864,111.445 -145.129,143.133"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path24"
         inkscape:connector-curvature="0" /><path
         d="m 314.27,584.066 c 68.503,-20.882 86.046,-46.289 86.046,-82.371 0,-55.011 -42.597,-77.609 -96.078,-77.609 -51.199,0 -95.226,23.879 -124.504,54.828 -0.14,0.149 -10.906,-22.586 -10.906,-22.586 21.539,-40.719 82.098,-77.789 149.68,-77.789 h 0.082 0.09 c 86.562,-0.723 160.172,39.805 160.172,121.422 0,87.633 -95.497,121.93 -148.493,133.707 -41.695,9.273 -146.914,36.969 -165.636,95.766 0,0 -20.883,-101.93 149.547,-145.368"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path26"
         inkscape:connector-curvature="0" /><path
         d="m 34.2305,274.223 c 0,0 -1.7266,-7.235 -3.2305,-11.368 l -6.8086,-19.636 h 20.082 l -6.8046,19.636 c -1.3985,4.133 -3.0196,11.368 -3.0196,11.368 z m 13.5,-41.864 H 20.8438 L 14.3633,213.551 H 0.00390625 L 26.9961,286.938 H 41.5742 L 68.5781,213.551 H 54.2109 l -6.4804,18.808"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path28"
         inkscape:connector-curvature="0" /><path
         d="m 99.418,286.938 h 13.93 v -61.915 h 33.16 v -11.472 h -47.09 v 73.387"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path30"
         inkscape:connector-curvature="0" /><path
         d="m 178.637,286.938 h 13.933 v -61.915 h 33.149 v -11.472 h -47.082 v 73.387"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path32"
         inkscape:connector-curvature="0" /><path
         d="m 257.855,286.938 h 13.922 v -73.387 h -13.922 v 73.387"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path34"
         inkscape:connector-curvature="0" /><path
         d="m 336.859,274.223 c 0,0 -1.73,-7.235 -3.238,-11.368 l -6.808,-19.636 h 20.085 l -6.808,19.636 c -1.399,4.133 -3.02,11.368 -3.02,11.368 z m 13.5,-41.864 h -26.894 l -6.481,-18.808 h -14.359 l 27,73.387 h 14.582 l 26.996,-73.387 h -14.371 l -6.473,18.808"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path36"
         inkscape:connector-curvature="0" /><path
         d="m 402.043,286.938 h 13.926 l 29.054,-42.372 c 2.918,-4.25 6.368,-11.378 6.368,-11.378 h 0.218 c 0,0 -0.757,7.031 -0.757,11.378 v 42.372 h 13.824 v -73.387 h -13.824 l -29.051,42.285 c -2.918,4.227 -6.367,11.355 -6.367,11.355 h -0.223 c 0,0 0.758,-7.031 0.758,-11.355 v -42.285 h -13.926 v 73.387"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path38"
         inkscape:connector-curvature="0" /><path
         d="m 539.262,288.18 c 18.679,0 28.289,-10.02 28.289,-10.02 l -6.696,-9.922 c 0,0 -8.746,7.754 -20.953,7.754 -16.195,0 -25.703,-11.582 -25.703,-25.226 0,-13.953 9.832,-26.25 25.813,-26.25 13.285,0 22.246,9.297 22.246,9.297 l 7.344,-9.61 c 0,0 -10.582,-11.894 -30.125,-11.894 -23.442,0 -39.641,16.652 -39.641,38.242 0,21.301 16.848,37.629 39.426,37.629"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path40"
         inkscape:connector-curvature="0" /><path
         d="m 603.465,286.938 h 45.902 v -11.473 h -31.972 v -19.219 h 25.816 V 244.77 h -25.816 v -19.747 h 33.703 v -11.472 h -47.633 v 73.387"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path42"
         inkscape:connector-curvature="0" /><path
         d="m 8.91797,126.195 c 0,0 8.27343,-7.734 19.01953,-7.734 5.8008,0 11.0703,2.883 11.0703,8.859 0,13.114 -35.99608,10.84 -35.99608,33.328 0,12.188 10.96098,21.25 25.57028,21.25 15.043,0 22.7813,-7.832 22.7813,-7.832 l -6.0156,-10.828 c 0,0 -7.3125,6.387 -16.875,6.387 -6.4454,0 -11.4961,-3.605 -11.4961,-8.762 0,-13.008 35.8906,-9.812 35.8906,-33.23 0,-11.653 -9.2422,-21.465 -25.1406,-21.465 -16.9766,0 -26.32816,10.02 -26.32816,10.02 l 7.51953,10.007"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path44"
         inkscape:connector-curvature="0" /><path
         d="m 111.52,181.91 c 22.46,0 39.433,-16.406 39.433,-37.355 0,-21.563 -16.973,-38.379 -39.433,-38.379 -22.4497,0 -39.4341,16.816 -39.4341,38.379 0,20.949 16.9844,37.355 39.4341,37.355 m 0,-63.555 c 13.976,0 25.148,11.133 25.148,26.2 0,14.445 -11.172,25.175 -25.148,25.175 -13.9692,0 -25.1372,-10.73 -25.1372,-25.175 0,-15.067 11.168,-26.2 25.1372,-26.2"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path46"
         inkscape:connector-curvature="0" /><path
         d="m 173.23,180.668 h 24.61 c 8.265,0 12.023,-0.613 15.355,-2.059 7.633,-3.3 12.473,-10.324 12.473,-20.031 0,-8.758 -4.84,-16.914 -12.898,-20.008 v -0.207 c 0,0 1.074,-1.023 2.578,-3.613 l 15.687,-27.332 H 215.563 L 200.41,134.75 H 187.086 V 107.418 H 173.23 Z m 26.325,-34.363 c 7.414,0 12.035,4.238 12.035,11.562 0,7.02 -3.117,11.356 -13.973,11.356 h -10.531 v -22.918 h 12.469"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path48"
         inkscape:connector-curvature="0" /><path
         d="m 250.719,180.668 h 27.285 c 13.762,0 23.531,-6.816 23.531,-18.887 0,-6.804 -3.433,-12.683 -9.234,-15.683 v -0.203 c 8.379,-2.364 12.355,-9.797 12.355,-17.227 0,-14.648 -12.254,-21.25 -26.328,-21.25 h -27.609 z m 27.285,-29.922 c 6.019,0 9.465,4.133 9.465,9.387 0,5.262 -3.223,9.09 -9.68,9.09 h -13.211 v -18.477 z m 1.406,-31.883 c 7.086,0 11.063,4.442 11.063,10.633 0,6.086 -4.078,10.52 -11.063,10.52 h -14.832 v -21.153 h 14.832"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path50"
         inkscape:connector-curvature="0" /><path
         d="m 362.059,181.91 c 22.464,0 39.433,-16.406 39.433,-37.355 0,-21.563 -16.969,-38.379 -39.433,-38.379 -22.457,0 -39.43,16.816 -39.43,38.379 0,20.949 16.973,37.355 39.43,37.355 m 0,-63.555 c 13.968,0 25.14,11.133 25.14,26.2 0,14.445 -11.172,25.175 -25.14,25.175 -13.965,0 -25.141,-10.73 -25.141,-25.175 0,-15.067 11.176,-26.2 25.141,-26.2"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path52"
         inkscape:connector-curvature="0" /><path
         d="m 425.164,180.668 h 13.856 l 28.914,-42.305 c 2.898,-4.226 6.332,-11.347 6.332,-11.347 h 0.218 c 0,0 -0.746,7.011 -0.746,11.347 v 42.305 h 13.75 v -73.25 h -13.75 l -28.906,42.187 c -2.906,4.239 -6.348,11.356 -6.348,11.356 h -0.211 c 0,0 0.747,-7.012 0.747,-11.356 v -42.187 h -13.856 v 73.25"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path54"
         inkscape:connector-curvature="0" /><path
         d="m 515.027,180.668 h 13.864 l 28.898,-42.305 c 2.891,-4.226 6.344,-11.347 6.344,-11.347 h 0.211 c 0,0 -0.746,7.011 -0.746,11.347 v 42.305 h 13.75 v -73.25 h -13.75 l -28.914,42.187 c -2.907,4.239 -6.332,11.356 -6.332,11.356 h -0.219 c 0,0 0.758,-7.012 0.758,-11.356 v -42.187 h -13.864 v 73.25"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path56"
         inkscape:connector-curvature="0" /><path
         d="m 605.004,180.668 v -73.262 h 47.383 v 11.457 h -33.52 v 19.707 h 25.664 v 11.446 h -25.664 v 19.207 h 31.805 v 11.445 h -45.668"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path58"
         inkscape:connector-curvature="0" /><path
         d="M 2.76563,75.3086 H 16.7539 v -47.375 c 0,-9.8906 6.7188,-15.5156 17.0313,-15.5156 10.2929,0 17.1289,5.625 17.1289,15.625 V 75.3086 H 64.8984 V 27.9336 C 64.8984,11.3633 52.4336,0.121094 33.8906,0.121094 15.2305,0.121094 2.76563,11.3633 2.76563,27.9336 v 47.375"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path60"
         inkscape:connector-curvature="0" /><path
         d="m 87.9727,74.4961 h 13.8553 l 28.906,-42.3047 c 2.895,-4.2266 6.336,-11.3359 6.336,-11.3359 h 0.211 c 0,0 -0.746,7 -0.746,11.3359 v 42.3047 h 13.75 V 1.24609 h -13.75 L 107.629,43.4336 c -2.899,4.2461 -6.34,11.3555 -6.34,11.3555 h -0.219 c 0,0 0.758,-7.0118 0.758,-11.3555 V 1.24609 H 87.9727 V 74.4961"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path62"
         inkscape:connector-curvature="0" /><path
         d="m 175.008,74.4961 h 13.859 V 1.25391 H 175.008 V 74.4961"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path64"
         inkscape:connector-curvature="0" /><path
         d="m 203.813,74.4961 h 14.941 l 16.75,-47.7617 C 237.008,22.4961 238.305,16 238.305,16 h 0.324 c 0,0 1.394,6.4961 2.891,10.7344 l 16.875,47.7617 h 14.832 L 245.395,1.24609 h -13.75 L 203.813,74.4961"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path66"
         inkscape:connector-curvature="0" /><path
         d="m 288.168,74.4961 h 45.668 V 63.043 H 302.027 V 43.8633 h 25.68 V 32.3984 h -25.68 v -19.707 h 33.528 V 1.24609 H 288.168 V 74.4961"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path68"
         inkscape:connector-curvature="0" /><path
         d="m 355.328,74.4961 h 24.606 c 8.269,0 12.035,-0.6133 15.367,-2.0586 7.633,-3.3008 12.469,-10.3242 12.469,-20.0195 0,-8.7696 -4.836,-16.9258 -12.895,-20.0196 v -0.207 c 0,0 1.074,-1.0234 2.578,-3.6016 L 413.137,1.24609 H 397.668 L 382.508,28.5898 H 369.191 V 1.24609 H 355.328 Z M 381.66,40.1328 c 7.414,0 12.028,4.2383 12.028,11.5625 0,7.0195 -3.114,11.3477 -13.965,11.3477 H 369.191 V 40.1328 h 12.469"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path70"
         inkscape:connector-curvature="0" /><path
         d="m 433.133,20.0234 c 0,0 8.273,-7.7343 19.023,-7.7343 5.793,0 11.059,2.8828 11.059,8.8672 0,13.1054 -35.992,10.832 -35.992,33.3203 0,12.1875 10.957,21.25 25.574,21.25 15.043,0 22.785,-7.8321 22.785,-7.8321 l -6.023,-10.8281 c 0,0 -7.313,6.3867 -16.871,6.3867 -6.446,0 -11.5,-3.6054 -11.5,-8.7617 0,-13.0078 35.894,-9.8047 35.894,-33.2226 0,-11.64849 -9.242,-21.47270625 -25.144,-21.47270625 -16.973,0 -26.325,10.01950625 -26.325,10.01950625 l 7.52,10.0078"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path72"
         inkscape:connector-curvature="0" /><path
         d="m 496.316,74.4961 h 13.868 V 1.25391 H 496.316 V 74.4961"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path74"
         inkscape:connector-curvature="0" /><path
         d="m 550.695,63.043 h -25.039 v 11.4531 h 63.938 V 63.043 H 564.547 V 1.25391 H 550.695 V 63.043"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path76"
         inkscape:connector-curvature="0" /><path
         d="m 631.293,93.3828 -8.172,-14.043 h 10.965 l 11.281,14.043 z M 605.074,74.5078 V 1.23438 h 47.383 V 12.6914 h -33.523 v 19.707 h 25.675 v 11.4532 h -25.675 v 19.1992 h 31.8 v 11.457 h -45.66"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path78"
         inkscape:connector-curvature="0" /><path
         d="m 2746.72,575.668 h -90.37 V 227.594 c 0,-86.438 -46.36,-135.9885 -127.12,-135.9885 -79.81,0 -123.75,48.3005 -123.75,135.9885 V 575.668 H 2304.94 V 215.336 c 0,-69.063 19.81,-123.2813 58.86,-161.2305 35.4,-35.3399 86.82,-54.10159375 148.66,-54.10159375 56,0 106.13,20.01949375 144.98,55.23439375 V 6.67578 h 99.39 V 575.668 h -10.11"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path80"
         inkscape:connector-curvature="0" /><path
         d="m 2985.45,744.176 h -90.42 V 572.34 h -69.14 v -81.539 h 69.14 V 163.98 c 0,-95.5581 59.16,-157.30422 150.69,-157.30422 h 66.98 V 95.9922 h -52.51 c -43.45,0 -64.6,22.9878 -64.6,70.2538 v 324.555 h 117.11 v 81.539 h -117.11 v 171.836 h -10.14"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path82"
         inkscape:connector-curvature="0" /><path
         d="m 3166.07,291.176 c 0,-179.571 97.08,-291.17209375 253.29,-291.17209375 79.9,0 130.89,22.92189375 188.13,84.60939375 l 6.78,7.2461 -69.42,66.5626 -6.9,-7.734 c -39.88,-44.188 -69.86,-59.0825 -118.59,-59.0825 -51.11,0 -92.18,20.1175 -118.93,58.1755 -24.02,33.485 -33.8,74.403 -33.8,141.395 0,67.031 9.78,107.922 33.76,141.34 26.84,38.152 67.86,58.289 118.97,58.289 49.47,0 79.41,-14.668 118.59,-58.035 l 6.85,-7.618 69.47,65.235 -6.78,7.351 c -57.24,61.707 -108.23,84.711 -188.13,84.711 -156.21,0 -253.29,-111.613 -253.29,-291.273"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path84"
         inkscape:connector-curvature="0" /><path
         d="M 1147.32,342.875 V 4.46875 h 907.34 V 563.91 C 1759.03,513.043 1604.38,442.652 1336.53,303.297 l -189.21,39.578"
         style="fill:#fcd216;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path86"
         inkscape:connector-curvature="0" /><path
         d="M 2054.67,911.836 H 1147.33 V 513.984 c 301.24,109.329 622.29,178.696 907.34,201.118 v 196.734"
         style="fill:#fcd216;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path88"
         inkscape:connector-curvature="0" /><path
         d="M 2054.67,715.109 C 1769.62,692.68 1448.57,623.313 1147.33,513.992 1090.04,493.203 1033.45,471.016 977.984,447.387 l 358.546,-87.051 c 290,150.879 470.23,219.527 817.41,273.055 v 87.695 c -32.52,-1.328 -65.67,-3.348 -99.27,-5.977"
         style="fill:#656263;fill-opacity:1;fill-rule:nonzero;stroke:none"
         id="path90"
         inkscape:connector-curvature="0" /><path
         d="M 919.809,911.344 792.902,8.38281"
         style="fill:none;stroke:#656263;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="path92"
         inkscape:connector-curvature="0" />
        </g>
      </g>
  </svg>
</template>
<script setup/>