<template>
  <header class="bg-white shadow flex justify-between items-center px-8 py-6">
    <LogoUTC height="30"/>
    <span class="hidden sm:block">
      <Menu as="div" class="ml-3 relative">
        <div>
          <MenuButton class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-200">
            <InformationCircleIcon class="-ml-1 mr-2 h-5 w-5 text-gray-500" aria-hidden="true" />
              CAS Login
          </MenuButton>
        </div>
        <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
          <MenuItems class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
            <MenuItem v-for="item in profile" :key="item" v-slot="{ active }">
              <a href="#" :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">{{ item }}</a>
            </MenuItem>
          </MenuItems>
        </transition>
      </Menu>
    </span>
  </header>
</template>
<script setup>
import LogoUTC from './LogoUTC.vue'
import { ref } from 'vue'
import { Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import { ArrowDownIcon, XIcon } from '@heroicons/vue/outline'
import { InformationCircleIcon } from '@heroicons/vue/solid'
import { onMounted, computed } from 'vue'
import CASAuth from '../services/CASAuth'
import { useStore } from 'vuex'

const open = ref(false)

const store = useStore()

const profile = ['Mon profil', 'Paramètres', 'Se déconnecter']

const login = async () => {
  console.log(store.state.count)
}

onMounted(login)

</script>