<template>
  <Banner/>
  <Menu/>
  <HelloWorld/>
  <footer class="flex justify-center py-16 text-gray-500 text-center">©<br> Réseau des Universités de Technologie <br> Compiègne </footer>
</template>

<script setup>
import HelloWorld from './components/HelloWorld.vue'
import Banner from './components/Banner.vue'
import Profile from './components/Profile.vue'
import Menu from './components/Menu.vue'

</script>